<h1>Пользователь</h1>
Электронная почта: <%= current_user.email %> <br>
IP адресс: <%= current_user.current_sign_in_ip %> <br>
Аккаунт создан: <%= current_user.created_at %> <br>

Моя страница <br>
Мои друзья <br>
Мои фотографии <br>
Мои видеозаписи <br>
Мои аудиозаписи <br>
Мои сообщения <br>
