<!DOCTYPE html>
<html>
<head>
  <title>Потрещим?</title>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<%= render 'layouts/menu' %>
      	<section class="round content">
        		<%= yield %>
      	</section>
    </div>
</body>
</html>
